<link rel="stylesheet" href="/cssFile/user_profile.css">
<h1>
    MernSocial / Profile Page
</h1>

<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<form action="/users/signOut" method="get">
<button type="submit">SignOut</button>
</form>